---
// index.astro (or any other page)

import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import SelectedFeaturedCards from '../components/SelectedFeaturedCards.astro';
import { FRONTPAGE_QUERY } from '../queries/frontpage';
import { fetchGraphQL } from '../utils/fetch-graphql';
import VideoHero from '../components/VideoHero.astro';

const data = await fetchGraphQL(FRONTPAGE_QUERY);

const [hero, videoHero, selectedFeatureCards, bottom] = data.frontPage.content;

const heroTopData = {
	title: hero.heading.value,
	subtitle: hero.eyebrow,
	ctaText: 'Learn More',
	ctaLink: `/${hero.link.slug}`,
	headingClassName: 'h5',
	heroAlign: hero.heroAlign,
};

const bottomData = {
	title: bottom.heading.value,
	subtitle: bottom.eyebrow,
	ctaText: 'Let\'s Talk',
	ctaLink: `/${bottom.link.slug}`,
	headingLevel: 'h2',
	headingClassName: 'h5',
	heroAlign: bottom.heroAlign,
};

const { 
	callout: [{ 
		heading: { value: headline }, 
		content: { value: content }, 
		link: { slug: linkUrl } 
	}], 
	articles 
} = selectedFeatureCards;

const title = "Home"
const description = "Welcome to the home page of El Puas, Web Artisan | WordPress, React, Gatsby, Astro | Passionate about Open Source Innovation and AI-enhanced developer"
const linkText = "Learn More";

const videoHeading = videoHero.callout[0].heading.value.document.children[0].children[0].value;
const videoContent = videoHero.callout[0].content.value.document.children[0].children[0].value;
const videoUrl = videoHero.videoUrl;
---

<BaseLayout title={title} description={description}>
	<Hero heroData={heroTopData} className={hero?.heroAlign} />
	<VideoHero 
		videoUrl={videoUrl}
		heading={videoHeading}
		content={videoContent}
	/>
	<div class="spacer"></div>
	<SelectedFeaturedCards
		headline={headline}
		content={content}
		linkText={linkText}
		linkUrl={`/${linkUrl}`}
		articles={articles}
	/>
	<Hero heroData={bottomData} className={`secondary ${bottom?.heroAlign}`} />
</BaseLayout>